<div class="modal-content">
    <div class="modal-header">
        <button class="close" data-dismiss="modal" area-hidden="true">X</button>
        <h4>Детали</h4>
    </div>
    <div class="modal-body">
        <dl class="dl-horizontal">
            <p><b>Задача № </b></p>
            
        </dl>
    </div>

    <div class="modal-footer">
        <button class="btn" data-dismiss="modal" aria-hidden="true">Закрыть</button>
    </div>
</div>
