<?xml version="1.0" encoding="UTF-8" ?>
<configuration>

    <property name="LOGS_DIR" value="/home/nobo/osago-bb/logs" />

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%date{ISO8601, Europe/Moscow} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- FILES -->

    <appender name="ROOT-FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <append>true</append>
        <file>${LOGS_DIR}/root.log</file>

        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOGS_DIR}/root.%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>1</maxHistory>
        </rollingPolicy>

        <encoder>
            <pattern>%date{ISO8601, Europe/Moscow} %level [%thread] %logger{36} [%file:%line] %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="NETTY-FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <append>true</append>
        <file>${LOGS_DIR}/netty.log</file>

        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOGS_DIR}/netty.%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>1</maxHistory>
        </rollingPolicy>

        <encoder>
            <pattern>%date{ISO8601, Europe/Moscow} %level [%thread] %logger{36} [%file:%line] %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="SIFT-FILE-BY-LOGGER" class="ch.qos.logback.classic.sift.SiftingAppender">
        <discriminator class="logging.MyDiscriminator" />
        <sift>
            <appender name="FILE-${contextName}" class="ch.qos.logback.core.rolling.RollingFileAppender">
                <append>true</append>
                <!--<prudent>true</prudent>-->
                <file>${LOGS_DIR}/${contextName}.log</file>

                <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
                    <fileNamePattern>${LOGS_DIR}/${contextName}.%d{yyyy-MM-dd}.log</fileNamePattern>
                    <maxHistory>10</maxHistory>
                </rollingPolicy>

                <encoder>
                    <pattern>%date{ISO8601, Europe/Moscow} %level %msg%n</pattern>
                </encoder>
            </appender>
        </sift>
    </appender>


    <!--=============== LOGGERS ======================================================= -->

    <logger name="io.netty" additivity="false">
        <!--<appender-ref ref="NETTY-FILE" level="trace"/>-->
    </logger>

    <logger name="access" additivity="false"><appender-ref ref="SIFT-FILE-BY-LOGGER" /></logger>
    <logger name="errors" additivity="false"><appender-ref ref="SIFT-FILE-BY-LOGGER" /></logger>
    <logger name="raw" additivity="false"><appender-ref ref="SIFT-FILE-BY-LOGGER" /></logger>
    <logger name="api" additivity="false"><appender-ref ref="SIFT-FILE-BY-LOGGER" /></logger>
    <logger name="gateway"><appender-ref ref="SIFT-FILE-BY-LOGGER" level="trace" /></logger>

    <root level="trace">
        <appender-ref ref="STDOUT" level="trace"/>
        <appender-ref ref="ROOT-FILE" level="trace"/>
    </root>

</configuration>