body {
    padding-top: 50px;
    padding-bottom: 20px;
    color: #696969;
    background-color:#f2f1f1;
}

textarea {
    max-width: 350px;
}

input {
    max-width: 260px;
}

/* Set width on the form input elements since they're 100% wide by default */
select {
    max-width: 260px;
}



/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
    background-color:white;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}



.tdImage{    
    width:25px;
    height:25px;
}

/*#menu {
    background-color: #008b8b
}
#menu > ul { width: 100%; }
 
#menu ul {
    background-color: darkslategrey;
    display: inline-block;
    margin: 0;
    padding: 0;
}
 
#menu li { list-style: none; }
 
#menu > ul > li { float: left; }
 
#menu li > ul {
    position: absolute;
    visibility: hidden;
}
 
#menu li:hover ul { visibility: visible; }
 
#menu li a {
    color: white;
    display: block;
    font-weight: bold;
    padding: 0 5px;
    text-decoration: none;
}
 
#menu li ul li a {
    background: black;
    text-decoration: none;
}
 
#menu li ul li a:hover, ul li:hover a {
    text-decoration: none;
}*/



/*Кнопки*/
.buttonS {
  display: inline-block;
  color: white;
  text-decoration: none;
  padding: .5em 2em;
  outline: none;
  border-width: 2px 0;
  border-style: solid none;
  border-color: #FDBE33 #000 #D77206;
  border-radius: 6px;
  background: linear-gradient(#F3AE0F, #E38916) #f7eac4;
  transition: 0.2s;
    cursor: pointer;
} 
.buttonS:hover { background: linear-gradient(#f5ae00, #f59500) #f7eac4; }
.buttonS:active { background: linear-gradient(#f59500, #f5ae00) #f7eac4; }

.buttonB {
  display: inline-block;
  color: white;
  text-decoration: none;
  padding: .5em 1em;
  outline: none;
  border-width: 2px 0;
  border-style: solid none;
  border-color: #4fca2c #000 #71a329;
  border-radius: 6px;
  background: linear-gradient(#4fca2c, #71a329) #f7eac4;
  transition: 0.2s;
  
  cursor: pointer;
} 
.buttonB:hover { background: linear-gradient(#4fca2c, #74d540) #f7eac4; }
.buttonB:active { background: linear-gradient(#74d540, #4fca2c) #f7eac4; }

.buttonb {
  display: inline-block;
  color: white;
  text-decoration: none;
  padding: .01em .6em;
  outline: none;
  border-width: 2px 0;
  border-style: solid none;
  border-color: #4fca2c #000 #71a329;
  border-radius: 6px;
  background: linear-gradient(#4fca2c, #71a329) #f7eac4;
  transition: 0.2s;
  
  cursor: pointer;
} 
.buttonb:hover { background: linear-gradient(#4fca2c, #74d540) #f7eac4; }
.buttonb:active { background: linear-gradient(#74d540, #4fca2c) #f7eac4; }

.buttons {
  display: inline-block;
  color: white;
  text-decoration: none;
  padding: .01em .6em;
  outline: none;
  border-width: 2px 0;
  border-style: solid none;
  border-color: #FDBE33 #000 #D77206;
  border-radius: 6px;
  background: linear-gradient(#F3AE0F, #E38916) #f7eac4;
  transition: 0.2s;
    cursor: pointer;
} 
.buttons:hover { background: linear-gradient(#f5ae00, #f59500) #f7eac4; }
.buttons:active { background: linear-gradient(#f59500, #f5ae00) #f7eac4; }


/*валидация*/
.field-validation-error {
    color: #db5410;
}
 
.field-validation-valid {
    display: none;
}
 
.input-validation-error {
    border: 1px solid #f5ae00;
    background-color: #fffaec;
}
 
.validation-summary-errors {
    font-weight: bold;
    color: #f00;
}
 
.validation-summary-valid {
    display: none;
}


#top-link{
	cursor:pointer;
	display:none;
	position:fixed;
	top:0px;
	bottom:0px;
	padding-left:5px;
	padding-top:5px;
	z-index:1;
}
#top-link a{
	display:block;
}

/*Боковая нижняя панель*/
#feedbackP{
    width : 400px;
    height : 300px;
    position : fixed; /* фиксируем позицию в окне */
    z-index : 50;
    /* сдвигаем панель вправо вниз: */
    top : 100%; 
    left : 100%;
    /* выдвигаем краешек: */	
    margin-top : -100px;
    margin-left : -230px;

    border : 2px solid;
    border-radius: 10px;
    
    padding: 5px;
    
    /*задаем эффект движения: */
    -moz-transition:margin 0.3s linear;	
    -o-transition:margin 0.3s linear;	
    -webkit-transition:margin 0.3s linear;	
    /*-ms-transition:margin 0.3s linear;*/	
    transition:margin 0.3s linear;	
  background: white;
}
#feedbackP:hover{	 
    /* выдвигаем панель на всеобщее обозрение: */
    margin-left : -400px;	
    margin-top : -300px;
    /*задаем эффект движения: */	
    -moz-transition:margin 0.3s linear;	
    -o-transition:margin 0.3s linear;	
    -webkit-transition:margin 0.3s linear;	
    /*-ms-transition:margin 0.3s linear;*/	
    transition:margin 0.3s linear;	
}

/*Делаем заголовок панели, как уголок папки с бумагами: */
#feedbackButton{
    margin-bottom : 5px;
    font-weight : bold;
    text-align : center;
    display: inline-block;
    color: white;
    text-decoration: none;
    padding: .5em 2em;
    outline: none;
    border-width: 2px 0;
    border-style: solid none;
    border-color: #FDBE33 #000 #D77206;
    border-radius: 6px;
    background: linear-gradient(#F3AE0F, #E38916) #f7eac4;
    transition: 0.2s;
    cursor: pointer;
}


/*Поля ввода при создании и тп*/
.single-line{
    display: block;
  width: 100%;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
       -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
          transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
.single-line:focus {
  border-color: #66afe9;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
          box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
}
.single-line::-moz-placeholder {
  color: #999;
  opacity: 1;
}
.single-line:-ms-input-placeholder {
  color: #999;
}
.single-line::-webkit-input-placeholder {
  color: #999;
}
.single-line[disabled],
.single-line[readonly],
fieldset[disabled] .single-line {
  background-color: #eee;
  opacity: 1;
}
.single-line[disabled],
fieldset[disabled] .single-line {
  cursor: not-allowed;
}

/*Адаптивная таблица*/
/* 
Generic Styling, for Desktops/Laptops 
*/
table { 
  width: 100%; 
  border-collapse: collapse; 
}
tr:nth-of-type(odd) { 
  background: #dbfad9; 
}
th { 
  background: #468847; 
  color: white; 
  font-weight: bold; 
}
td, th { 
  padding: 6px; 
  border: 1px solid #ccc; 
  text-align: left; 
}


/*Баджи-кругляшки*/
.badge {
  padding: 1px 9px 2px;
  font-size: 12.025px;
  font-weight: bold;
  white-space: nowrap;
  color: #ffffff;
  background-color: #999999;
  -webkit-border-radius: 9px;
  -moz-border-radius: 9px;
  border-radius: 9px;
}
.badge:hover {
  color: #ffffff;
  text-decoration: none;
  cursor: pointer;
}

.badge-low {
  background-color: #b94a48;
}
.badge-low:hover {
  background-color: #953b39;
}

.badge-low:focus {
  color: #fff;
  text-decoration: none;
  cursor: pointer;
}
.badge-medium {
  background-color: #f89406;
}
.badge-medium:hover {
  background-color: #c67605;
}

.badge-high {
  background-color: #468847;
}
.badge-high:hover {
  background-color: #356635;
}

.badge-critical {
  background-color: #3a87ad;
}
.badge-critical:hover {
  background-color: #2d6987;
}


/*Кнопка сообщения администрации*/
#messageP{
    background: none;
    width : 800px;
    height : 400px;
    position : fixed; /* фиксируем позицию в окне */
    z-index :50;
    /* сдвигаем панель вправо вниз: */
    top : 30%; 
    left : 100%;
    /* выдвигаем краешек: */	
    margin-top : -100px;
    margin-left : -80px;
    
	opacity: 0.5;
    padding: 5px;
    border-radius: 6px;
    
    /*задаем эффект движения: */
    -moz-transition:margin 0.3s linear;	
    -o-transition:margin 0.3s linear;	
    -webkit-transition:margin 0.3s linear;	
    /*-ms-transition:margin 0.3s linear;*/	
    transition: margin 0.3s linear;	
  background: white;
}
#messageP:hover{	
	opacity: 1;
    border-radius: 6px;
    /* выдвигаем панель на всеобщее обозрение: */
    margin-left : -580px;	
    /*задаем эффект движения: */	
    -moz-transition:margin 0.3s linear;	
    -o-transition:margin 0.3s linear;	
    -webkit-transition:margin 0.3s linear;	
    /*-ms-transition:margin 0.3s linear;*/	
    transition:margin 0.3s linear;
    cursor:pointer;	
}

/*Делаем заголовок панели, как уголок папки с бумагами: */
#messageB{
    text-align : center;
    display: inline-block;
    color: white;
    text-decoration: none;
    border-radius: 6px;
}

/*Кнопка релакса*/
#relaxP{
    background: none;
    width : 50px;
    height : 50px;
    position : fixed; /* фиксируем позицию в окне */
    z-index :50;
    /* сдвигаем панель вправо вниз: */
    top : 7%; 
    left : 100%;
    /* выдвигаем краешек: */	
    margin-left : -80px;
    
	opacity: 0.5;
    padding: 5px;
    border-radius: 6px;
    
    /*задаем эффект движения: */
    -moz-transition:margin 0.3s linear;	
    -o-transition:margin 0.3s linear;	
    -webkit-transition:margin 0.3s linear;	
    /*-ms-transition:margin 0.3s linear;*/	
    transition: margin 0.3s linear;	
  background: white;
}

#relaxP:hover{	
	opacity: 1;
    
    cursor:pointer;
}

/*Горизонтальный список*/
ul.hor {
    padding-left: 0;
}
ul.hor li {
    display: inline-block;
}


/*Для комментариев*/
 
mark {
    background-color: #a6dbed;
    padding-left: 5px;
    padding-right: 5px;
}

.droppable-hover{
    background:#fff;
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
    opacity: 0.8;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

.clear-fix:after {
    content: ".";
    clear: both;
    display: block;
    height: 0;
    visibility: hidden;
}

.margin_center{
    width:100%;
}

.no_display{
    display:none;
}

.text_center{
    text-align:center; 
    font-size:20px;
    padding-bottom:5px;
}

.center{
    text-align:center;
}

.root{
    position: relative; 
    left: 20px; 
    bottom: -7px;
    cursor:default;
}

.inline{
    display:inline-block;
}

.tree div{
    display:inline-block;
}

.remove {
    width:16px;
    height:16px;
    background: url("../Content/pictures/remove.png") no-repeat;
    top: 1px;
    position: relative;
}

.remove a{
    padding-right:8px;
    background:none;
    height:16px;
    cursor:pointer;
    color:transparent;
}

.add_root {
    width:16px;
    height:16px;
    background: url("../Content/pictures/add.png") no-repeat;
    position: relative; 
    left: 17px; 
    bottom: -10px;
    cursor:pointer;
}

.add {
    width:16px;
    height:16px;
    background: url("../Content/pictures/add.png") no-repeat;
    cursor:pointer;
    top: 2px;
    position: relative;
}

.add a{
    padding-right:12px;
    background:none;
    height:16px;
    cursor:pointer;
}

/*Комментарий и отзыв*/
#addDialog {
    background-color: #eeeeee;
    border-radius: 4px;
    border-color: #f3ae0f;
    opacity: 0.9;
    width: 400px;
    height: 270px;
}
